<!DOCTYPE html>
<html>
<head>
<title>Complite Ruby On Rails Homework</title>
</head>
<body style="background: lightblue">

<h1 style="text-align: center;">This is a Complete Ruby On Rails Homework from lesson 48.</h1>
<img src="http://rubyonrails.org/images/rails-logo.svg" alt="RubyOnRails">

<table style="width: 100%">
<tr>
	<th style="background: yellow">Column1</th>
  <th style="background: yellow">Column2</th>
</tr>
<tr>
	<td style="background: lightgray">test1 test1 test1 test1 test1 test1 test1 test1 test1 test1 test1 test1 test1 test1 test1 test1 test1 test1 test1 test1 </td>
  <td style="background: lightgray">test2 test2 test2 test2 test2 test2 test2 test2 test2 test2 test2 test2 test2 test2 test2 test2 test2 test2 test2 test2 </td>
</tr>

</table>

</body>
</html>

<div style="text-align: center; font-size: large; margin-top: 5%"><%= link_to 'About', pages_about_path %></div>