<div class="container">
  <footer class="footer">
    <small>
      Copyrights &copy; <a href="#">The Complite Ruby on Rails Developer</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", pages_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>